
/* general */
html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  color: #ffffff;
  background-color: #616161;
  font-size: 14px;
  line-height: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}
.wrap {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.btn-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.btn {
  display: inline-block;
  width: auto;
  min-width: 150px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 20px 15px;
  background: #000;
  border-radius: 25px;
  border: 1px solid #fff;
}
.btn--primary {
  background: #da1107;
  transition: all 0.3s ease;
}
.btn--primary:hover {
  background: #a70b03;
}
/* main */
.layout {
  height: 100%;
  display: flex;
}
.main {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .wrap {
}
.card {
  background: rgba(0, 0, 0, .75);
  padding: 20px 15px;
}
.card__title {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 1.3;
}
ul  {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
  font-size: 16px;
}
ul li {
  margin: 10px;
  line-height: 1.5;
}
.step-2 .btn-wrap {
  margin-top: 25px;
}
.step-2 .btn {
  min-width: 200px;
}
.video-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
.video {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 100%;
  width: 100%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
}
.video-bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/bg-3.png);
  opacity: 0.5;
}
.video--blur {
  -webkit-filter: blur(30px);
  filter: blur(30px);
  width: 50%;
}
.video--blur1 {
  left: 0;
}
.video--blur2 {
  right: 0;
}
.video--mob {
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .main {
    margin-top: auto;
  }
}
.step {
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in;
}
.step.step-active {
  position: relative;
  display: block;
  opacity: 1;
}
.step.step-shown {
  opacity: 0;
}

.back {
  position: absolute;
  left: 20px;
  top: 10px;
  border: 1px solid none;
  background:#000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 26px;
  padding: 7px 15px;
  text-decoration: none;
}

.back:hover {
  background: #ffffff;
  color: #000;
  transition: all 0.3s ease-in-out 0s;
}
